#cy {
  width: 98vw;
  height: 70vh;
  border: 1px solid #ccc;
  align-self: center;
}

.zoom-buttons {
  display: flex;
  justify-content: center;
}
.legend {
/* position: absolute; */
  top: 10px;
  left: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#loadGraphError{
  color: red;
  display: none;
}
    #cy-container {
  position: relative;
  width: 100%;
  height: 100%;
}
    .spinner {
      position: absolute;
      top: 40%;
      left: 45%;
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      display: none;
    }
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

#waitingDataText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
  display: none;
}
#generatingGraphText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 20px;
  display: none;
}